.modal-container{
    display:flex;
    align-items:center;
    justify-content:center;
    
}


@media (max-width: 575.98px) {
    .modal-container{
        width:97vw;
        height: 97vh;
    }
 }
